@using Dominio
@model List<Miembro>


<div class="container mt-4">
    <h2>Solicitudes de Amistad</h2>

    <div class="row justify-content-center">

        @foreach (Miembro pendiente in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@pendiente.Nombre</h5>
                        <form asp-controller="AddFriend" asp-action="AgregarAmigo" method="post">
                            <input type="hidden" name="noAmigoId" value="@pendiente.Id" />
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="submit" class="btn btn btn-warning">Rechazar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
