@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container d-flex justify-content-center align-items-center ">
    <form method="post" style="background-color: rgba(0, 0, 0, 0.8); width: 450px;" class="gradient-right bg-white rounded rounded-5 shadow p-5 d-flex flex-column justify-content-center align-items-center ">
                        <h1 >LOGIN</h1>
                        @if (!String.IsNullOrEmpty(ViewBag.MensajeExito))
                        {
                            <div class="alert alert-success">
                                @ViewBag.MensajeExito
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(ViewBag.Mensaje))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Mensaje
                            </div>
                        }
                        <div class="form-group">
                            <label for="Nombre">Email: </label>
                            <input type="text" class="form-control" id="Nombre" name="email" placeholder="ejemplo@gmail.com">
                        </div>


                        <div class="form-group mb-2">
                            <label for="Password">Password: </label>
                            <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                        </div>


                        <div class="d-flex">
                            <input type="submit" class="btn btn-primary btn-block" value="Log In" />
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="SignUp">Sign Up</a>
                        </div>

                    </form>
</div>
